.notifications li, .notificationsElement li {
		min-height:50px;
		padding: 10px;
		background-color: rgba(197, 225, 197, 0.3);
		border-bottom: 1px dashed #bed1be;
	}
	.notifications li.read, .notificationsElement li.read{
		background-color:white !important;
	}
	.notifications, .notificationsElement{
		/*background-color: white;*/
		color: #528195;
		padding: 2px 0px !important;
	}
	.notifications .pageslide-title, .notificationsElement .pageslide-title{
		padding-left: 10px;
		text-align: inherit; 
		color:#67B04C;
		font-size: 14px !important;
		text-transform: none !important;
	}
	.notificationsElement ul{
		list-style: none;
	}
	#notificationPanelSearch{
	position: fixed;
	right: 0%;
	width: 430px;
	bottom: 0px;
	overflow-y: auto;
	background-color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 0px;
    box-shadow: 0px 2px 5px 2px rgba(66, 66, 66, 0.79) !important;
    -webkit-box-shadow: 0px 2px 5px 2px rgba(66, 66, 66, 0.79) !important;
    -o-box-shadow: 0px 2px 5px 2px rgba(66, 66, 66, 0.79) !important;
    box-shadow: 0px 2px 5px 2px rgba(66, 66, 66, 0.37) !important;
    overflow-x: hidden;
    z-index: 13000;
    
		display:none;
		/*background-color: white;
		/*box-shadow: 0px 0px !important;
		left:unset !important;
		right:25px;
		width: 300px !important;
		-moz-box-shadow: 0px 0px 3px 0px #656565;
		-webkit-box-shadow: 0px 0px 3px 0px #656565;
		-o-box-shadow: 0px 0px 3px 0px #656565;
		box-shadow: 0px 0px 3px 0px #656565;
		filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=3);*/
	}
	.notifications a.notif, .notificationsElement a.notif{
		padding-top: 0px !important;
		background-color: transparent;
		color: #354535 !important;
		font-size: 13px;
		font-weight: 100;
		text-align:left;
	}
	ul.notifList{
		position: absolute;
		bottom: 20px !important;
		overflow-y: auto;
		padding-right: 10px;
		top: 45px;
		padding: 0px;
		-moz-box-shadow: 0px 0px 3px -1px #656565;
		-webkit-box-shadow: 0px 0px 3px -1px #656565;
		-o-box-shadow: 0px 0px 3px -1px #656565;
		box-shadow: 0px 0px 3px -1px #656565;
		filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=3);
	}

	.notifications .bottomNotifs{
		position: absolute;
    	bottom: 5px;
   		font-style: italic;
	}

	.notifications .pageslide-list a .label, .notificationsElement .pageslide-list a .label{
		opacity: 0.7;
		font-size: 20px !important;
		border-radius: 30px !important;
		height: 40px;
		padding-top: 7px !important;
		padding-left: 7px !important;
		margin-top: 5px;
		height: 35px;
		width: 35px;
		margin-left: -1px;
		background-color: #56c557 !important;
	}

	.notifications .message,.notifications .time, .notificationsElement .message,.notificationsElement .time {
		width:100%;
	}
	.notifications .content-icon, .notificationsElement .content-icon{
		margin-right: 10px;
	}
	.notifications .time, .notificationsElement .time {
	   color: #4d654d;
	}
	.btn-notification-action{
		background-color: #71CE4E !important;
		color: white;
		margin: 0px !important;
		margin-top: -4px !important;
		padding: 4px 8px !important;
		margin-right: 10px !important;
	}
	.btn-notification-action.btn-danger{
		background-color: #d9534f !important;
	}
	.footer-notif{
		position: absolute;
		bottom:10px;
		width:100%;
	}
	.btn-reload-notif{
		border-radius: 50%!important;
	    margin-left: 14px !important;
	    margin-right: 5px !important;
	}
	#notificationPanelSearch{
		width:415px !important;
		max-width: 100%;
	}

	.badge-tranparent{
		background-color: transparent;
	}
	.removeBtn{
		position: absolute !important;
		right: 3px;
		bottom: 4px;
		border-radius:25px !important;
		border:1px solid grey;
		color: grey !important;
	}
	.removeBtn:hover{
		background-color: grey;
		color: white !important;
	};
	.removeBtn i{
		font-size:12px;
	}

.acceptBtn{
		border-radius:3px !important;
		color: white;
		background-color: #71CE4E;
		padding: 5px 10px;
		margin-top: 5px;
	}
	.acceptBtn:hover{
		color: #71CE4E !important;
		background-color: white;
		border: 1px solid #71CE4E;
	}
	.acceptBtn i{
		font-size:12px;
	}
	.refuseBtn{
		border-radius:3px !important;
		color: white;
		background-color: #E33551;
		padding: 5px 10px;
	margin-top: 5px;
	}
	.refuseBtn:hover{
		color: #E33551 !important;
		background-color: white;
		border: 1px solid #E33551;
	}
	.refuseBtn i{
		font-size:12px;
	}

#notificationPanelSearch{
	overflow: visible !important;
}

#notificationPanelSearch.arrow_box::before{
	margin-bottom: 1px;	
	border-bottom-color: #e1dbdb;
	left: 25%;
}
#notificationPanelSearch.arrow_box::after{
	left: 25%;
}
#notificationPanelSearch.vertical.arrow_box:before,
#notificationPanelSearch.vertical.arrow_box:after{
	left:40%;
}
#notificationPanelSearch{
	bottom: 30% !important;
	right: 27px !important;
	z-index: 100000;
}

@media (min-width: 993px) {
	#notificationPanelSearch.vertical.arrow_box{
		right: 0px !important;
		width: 450px !important;
		bottom: 0px !important;
		box-shadow: 0px 5px 5px 2px rgba(66, 66, 66, 0.37) !important;
	}
	#notificationPanelSearch.vertical.arrow_box:before, #notificationPanelSearch.vertical.arrow_box:after {
	    border-width: 0px;
	}
}
 @media (min-width: 767px) and (max-width: 992px) {
 	#notificationPanelSearch.arrow_box::before,
	#notificationPanelSearch.arrow_box::after{
		left:216px;
	}

	#notificationPanelSearch.vertical.arrow_box:before,
	#notificationPanelSearch.arrow_box:after{
		left:65%;
	}
	#notificationPanelSearch.vertical .btn-reload-notif{
	    font-size: 12px;
		margin-right: -5px !important;
	}
 }



@media (max-width: 767px) {
	#notificationPanelSearch{
		left:10% !important;
		right:0px !important;
		bottom:0px !important;
		max-width: unset !important;
		width: unset !important;
	}
	#notificationPanelSearch.arrow_box:after,
	#notificationPanelSearch.arrow_box:before{
		border: 0px;
	}

	#notificationPanelSearch.vertical.arrow_box:before,
	#notificationPanelSearch.vertical.arrow_box:after{
		left: unset !important;
    	right: 153px;
	}
	.notifications .pageslide-list a .label{
		height: 26px;
		width: 26px;
		padding: 7px;
		font-size: 13px !important;
	}
}
